# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db

# Environments
.env
.venv/
env/
venv/
*.env

# Cache / logs
.cache/
.pytest_cache/
*.log
logs/

# IDEs
.vscode/
.idea/
*.swp

# System
.DS_Store
Thumbs.db

# Build artifacts
build/
dist/
*.egg-info/

# Docker
*.tar
